.investor-top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.884);
    padding: 20px;
    color: #55a049;
  }

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  color: #55a049;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links a {
  color: #55a049;
}

.nav-links a:hover {
  color: #ddd;
}