.errorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #94e0ab;
  }
  
  .errorPage h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .errorPage p {
    font-size: 1.5rem;
  }
  