.hero_section{
   width: 100%;
}

.navbar_section{
    display: flex;    
    justify-content: space-between;
}

.navbar_first > img{
    width: 35%;
    margin-left: 50px;
    margin-top: 0.75rem;    
}

.navbar_second > ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-bottom:1.75rem;
}

li{
    margin-top: 1.75rem;
    margin-right: 1rem;
    margin-left: 2rem;
    border: 2px #263238;
}

.hero_section_second{  
    display: flex;
    justify-content: space-between;   
    width: 100%;
}

.hero_section_inner_one{
    /* background-color: aqua;    */
    margin: 2rem;
}

.hero_section_inner_two {
    
}


.hero_section_inner_two > img{
    width: 38rem;
    margin-right: 2rem;   
}

.hero_section_textone > p{
    font-size: 2.5rem;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 60%;
    margin-left: 18%;
    color: #263238;
}

.hero_section_texttwo > p {
    font-size: 1.15rem;
    width: 70%;
    text-align: center;
    margin-left: 18%;
    color: #263238;
}

.hero_section_get_started > button{
    align-items: center;
    margin-top: 4rem;
    margin-left: 16rem;
    font-size: medium;
}

.about-us{
    width: 100%;
}

.about-us-image > img{
    width: 50%;
}

.about-us-inner{
    display: flex;
    width: 50%;
}